<nz-layout>
  <header class="header">
    <div class="header-content">
      <h1>Sistema de Historias Clínicas</h1>

    </div>
  </header>
</nz-layout>
<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" [nzWidth]="220" class="sider">

    <ul nz-menu nzTheme="light" nzMode="inline">
      <li nz-menu-item [routerLink]="['./rel-personal']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <span>Relación de personal</span>
      </li>
      <li nz-menu-item [routerLink]="['./asist-admin']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <span>Asistencia de administrador</span>
      </li>
      <li nz-menu-item [routerLink]="['./soporte-tecnico']" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">
        <span>Soporte técnico</span>
      </li>
      <li nz-menu-item (click)="logout()">
        <span nz-typography nzType="danger">Cerrar sesión</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>


    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>


</nz-layout>